<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.AdministradorMapper">
    <select id='consultarInfoAdmin' parameterType='map' resultMap='AdministradorResult'>
         select a.login,
               a.nombre,
               a.apellido,
               a.password,
               a.correo
        from
         administrador as a
         where
         a.login=#{usuario}
         ;
    </select>
    <insert id="registrarAdministrador" parameterType='map'>
        insert into administrador(login,nombre,apellido,password,correo) values (#{usuario.login},#{usuario.nombre},#{usuario.apellido},#{usuario.password},#{usuario.correo});
    </insert>

    <resultMap type='Administrador' id='AdministradorResult'>
        <id property='login' column='login'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='password' column='password'/>
        <result property='correo' column='correo'/>

    </resultMap>
</mapper>