<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.IdeaMapper">
    <select id='consultarIdea' parameterType='map' resultMap='IdeaResult'>
         select a.descripcion,
               a.login_Prop,
               a.palabrasClave,
               a.area,
               a.fecha,
               a.estado
        from
         Idea as a
         where
         a.palabrasClave=#{idea}
         ;
    </select>
    <select id='consultarIdea2' parameterType='map' resultMap='IdeaResult'>
        select a.nombreidea,
               a.descripcion,
               a.login_Prop,
               a.area,
               a.fecha,
               a.estado
        FROM idea as a
        LEFT JOIN palabrasclave as b
        ON a.nombreidea = b.nombreidea;
        where
        b.palabrasclave = #{idea}
        ;
    </select>
    <update id="cambiarEstado" parameterType="map" >
        update idea
        set estado= #{estado}
        where #{idea.descripcion}=descripcion and #{idea.loginProponente}=login_Prop
    </update>

    <insert id="Idea" parameterType='map'>
        insert into idea(descripcion,fecha,login_Prop,id,palabrasClave,area,estado)  values (#{usuario.descripcion},#{usuario.login_Prop},#{usuario.id},#{usuario.palabrasClave},#{usuario.AreaTrabajo}, #{usuario.fecha}, #{usuario.estado});
    </insert>

    <resultMap type='Idea' id='IdeaResult'>
        <id property="nombreIdea" column="nombreidea"/>
        <result property='descripcion' column='descripcion'/>
        <result property='loginProponente' column='login_Prop'/>
        <result property='area' column='area'/>
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>
    </resultMap>

    <resultMap type='Idea' id='IdeaResult2'>
        <id property="nombreIdea" column="nombreidea"/>
        <result property='descripcion' column='descripcion'/>
        <result property='loginProponente' column='login_Prop'/>
        <result property='area' column='area'/>
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>
        <collection property="palabrasClave" ofType="palabraClave">
            <id property="nombreIdea" column="nombreidea"/>
            <result property="valor" column="palabrasclave"/>

        </collection>
    </resultMap>

</mapper>