<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.PersonalPMOMapper">
    <select id='consultarInfo' parameterType='map' resultMap='PersonalPMOResult'>
         select a.login,
                a.nombre,
               a.apellido,
               a.correo,
               a.password

        from
         personalpmo as a
         where
         a.login='matox99'
         ;
    </select>

    <resultMap type='PersonalPMO' id='PersonalPMOResult'>
        <id property='login' column='login'/>
        <result property='nombre' column='nombre'/>
        <result property='appelido' column='apellido'/>
        <result property='correo' column='correo'/>
        <result property='pasword' column='password'/>
    </resultMap>



</mapper>
