<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.VotoMapper">
    <select id='consultarVotos' parameterType='map' resultMap='VotoResult'>
    select a.nombreidea,
    a.loginusuario,

    FROM voto as a
    where a.nombreidea=#{idea} ;

    </select>

    <select id='consultarVoto' parameterType='map' resultMap='VotoResult'>
    select a.nombreidea,
    a.loginusuario,
    FROM voto as a
    where a.nombreidea=#{idea} and a.loginusuario=#{login};

    </select>

    <insert id="insertar" parameterType='map'>
        insert into voto(loginusuario, nombreidea) values(#{login},#{idea});
    </insert>

    <delete id="remover">
        delete from voto where loginusuario=#{login} and nombreIdea=#{idea};
    </delete>

    <resultMap type='Voto' id='VotoResult'>
        <id property='login_Prop' column='login_Prop'/>
        <result property="nombreIdea" column="nombreIdea"/>
    </resultMap>
</mapper>